{% extends 'base.html' %}
{% load static%}
{% load custom_filters %}

{% block content %}
<!-- Signup Section Begin -->
    <section class="signup spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login__form">
                        <h3>Reset Password</h3>
						<form action="" method="POST">
							{% csrf_token %}
							{% if form.errors %}
							<ul style="color: red;">
								{% for error in form.new_password1.errors %}
								<li>{{ error }}</li>
								{% endfor %}
								{% for error in form.non_field_errors %}
								<li>{{ error }}</li>
								{% endfor %}
							</ul>
							{% endif %}
                            <div class="input__item">
                                <input name="new_password1" type="password" placeholder="Password">
                                <span class="icon_lock"></span>
                            </div>
							{% if form.errors %}
							<ul style="color: red;">
								{% for error in form.new_password2.errors %}
								<li>{{ error }}</li>
								{% endfor %}
								{% for error in form.non_field_errors %}
								<li>{{ error }}</li>
								{% endfor %}
							</ul>
							{% endif %}
							<div class="input__item">
                                <input name="new_password2" type="password" placeholder="Repeat Password">
                                <span class="icon_lock"></span>
                            </div>
                            <button type="submit" class="site-btn">Change Password</button>
                        </form>	
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login__social__links">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Signup Section End -->
	{% endblock content %}
